<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">skhmkr</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
</br></br></br></br>
<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Lunchy</h1>
    <p>The app to guide you to your favorite lunch spots.</p>
    <p><a class="btn btn-primary btn-large">Sign In &raquo;</a></p>
  </div>

  

  <hr>
  </br></br></br></br></br></br></br></br></br></br>
  <footer>
    <p>&copy; skhmkr 2012</p>
  </footer>