<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Lunchy</a>
	<form class="login pull-right form-inline">
	  <input type="text" class="input-small" placeholder="Email">
      <input type="password" class="input-small" placeholder="Password">
      <button type="submit" class="btn">Sign In</button>
	</form>
    </div> 
  </div>
</div>
</br></br></br></br>
<div class="container">
  <div class="hero-unit">
	<div class="row">
	  <div class="span6">
      <h1 class="normal">Lunchy.</h1>
      <p>The perfect app to help you to on your quest to find new lunch spots.</p>
      <p><a class="btn btn-primary btn-large" href="users/new">Sign Up &raquo;</a></p>
      </div>
      <div class="span4">
	  <%= image_tag("lunchy_icon.jpg", :alt => "lunchy icon", :size => "200x200") %>
	  </div>
	</div>
  </div>

  

  <hr>
  </br></br></br></br></br></br></br></br></br>
  <footer>
    <p>&copy; skhmkr 2012</p>
  </footer>